body {
    background: rgba(0, 157, 201, 0.7);
    font-family: 'Lato', sans-serif;
    width: 100%;
}


/*
    Header
*/

.header {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 244, 233, 0.3);
    align-content: center;
    margin: auto;
}

h1,
h3 {
    padding: 0 0.5em;
    text-align: center;
    color: rgba(255, 255, 250, 0.7);
}

h1 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.5em;
}


/*
    Game
*/

.game {
    position: relative;
    margin: 1em;
    top: 12em;
    display: block;
}

.game li {
    display: inline-block;
    margin: 0.25em;
    padding: 0.5em 1em;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.game li#alphabets {
    background: rgba(0, 90, 173, 0.2);
}


/*
    Info
*/

.info {
    display: block;
    position: relative;
    width: 50%;
    margin: auto;
    margin-bottom: 2em;
    top: 12em;
}

.info .chances {
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.5em;
}

.info #reset {
    width: 50%;
    position: absolute;
    left: 25%;
    cursor: pointer;
}


/*
    Footer
*/

.footer {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 244, 233, 0.3);
}

.footer p {
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}
